<div class="flex justify-center gap-10">
  <a class="w-[50px] h-[50px]" href=""
    ><img
      class="w-[40px] hover:size-[50px] transition-all duration-300"
      src="assets/facebook-svgrepo-com.svg"
      alt="facebook-icon"
  /></a>
  <a class="w-[50px] h-[50px]" href=""
    ><img
      class="w-[40px] hover:size-[50px] transition-all duration-300"
      src="assets/instagram-round-svgrepo-com.svg"
      alt="facebook-icon"
  /></a>
  <a class="w-[50px] h-[50px]" href="">
    <img
      class="w-[40px] hover:size-[50px] transition-all duration-300"
      src="assets/tiktok-svgrepo-com.svg"
      alt="facebook-icon"
    />
  </a>
  <a class="w-[50px] h-[50px]" href=""
    ><img
      class="w-[40px] hover:size-[50px] transition-all duration-300"
      src="assets/twitter-round-svgrepo-com.svg"
      alt="facebook-icon"
  /></a>
  <a class="w-[50px] h-[50px]" href=""
    ><img
      class="w-[40px] hover:size-[50px] transition-all duration-300"
      src="assets/youtube-round-svgrepo-com.svg"
      alt="facebook-icon"
  /></a>
</div>
<div class="flex justify-center text-center gap-10 my-10">
  <a class="text-white font-semibold text-lg hover:text-gray-300" href="#"
    >Home</a
  >
  <a
    class="text-white font-semibold text-lg hover:text-gray-300"
    href="#"
    href=""
    >Explore</a
  >
  <a
    class="text-white font-semibold text-lg hover:text-gray-300"
    href="#"
    href=""
    >Saved</a
  >
  <a
    class="text-white font-semibold text-lg hover:text-gray-300"
    href="#"
    href=""
    >Cart</a
  >
  <a
    class="text-white font-semibold text-lg hover:text-gray-300"
    href="#"
    href=""
    >Selling</a
  >
  <a
    class="text-white font-semibold text-lg hover:text-gray-300"
    href="#"
    href=""
    >Profile</a
  >
  <a
    class="text-white font-semibold text-lg hover:text-gray-300"
    href="#"
    href=""
    >Preach History</a
  >
  <a
    class="text-white font-semibold text-lg hover:text-gray-300"
    href="#"
    href=""
    >Contact Us</a
  >
  <a
    class="text-white font-semibold text-lg hover:text-gray-300"
    href="#"
    href=""
    >Settings</a
  >
</div>
<div>
  <span></span>
</div>
